<div class="po-loop-card gh-card {{post_class}}">
  
  <a class="po-loop-link" href="{{url}}">
    <header>
      <h2 class="po-title">{{title}}</h2>
      <p class="po-excerpt">{{excerpt}}</p>
    </header>

    <footer>
      <time class="po-loop-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
      —
        <span class="gh-card-duration">{{reading_time}}</span>

        {{^has visibility="public"}}
        {{> icons/star}}
        {{/has}}
    </footer>
  </a>

</div>