{{!< default}}
    {{#post}}
<header class="po-article-header">
  <div class="po-limit-container">

    <h1 class="po-article-title">{{title}}</h1>

    {{#if custom_excerpt}}
    <p class="po-article-excerpt">{{custom_excerpt}}</p>
    {{/if}}

  </div>

</header>

{{#get "posts" limit="all" include="authors"}}
<div class="po-limit-container">
  <ul class="po-list-cards">
  {{#foreach posts}}
   <li class="po-card">
     <a href="{{url}}">
      <img src="{{feature_image}}" alt="{{feature_image_alt}}">
     </a>

      <span class="po-author-name">{{authors  separator=" &bull; "}}</span>
     
      <h2><a href="{{url}}">{{title}}</a></h2>
   </li>
  {{/foreach}}
  </ul>
</div>
{{/get}}

{{/post}}
