{{!< default}}

{{#post}}

  <article class="po-article {{post_class}} {{#if @custom.single_invert_sidebar_article}}po-inverted-sidebar{{/if}}">
    <header class="po-article-header">
      <div class="po-limit-container">

{{#is "post"}}
        <span class="po-article-meta">
          {{#if tags}}
          <span class="po-tags-post-list">{{tags separator=", " prefix="em "}}</span>
          {{/if}}
          —
          <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
        </span>
        {{/is}}
       <h1 class="po-article-title">{{title}}</h1>

      {{#if custom_excerpt}}
      <p class="po-article-excerpt">{{custom_excerpt}}</p>
      {{/if}}
        
      <span class="po-article-author">{{authors separator=" &bull; " prefix="Por "}}</span>

      </div>
      {{#if @custom.single_show_featured_img}}
        {{#if feature_image}}
        <figure class="gh-article-image">
          <img
          srcset="{{img_url feature_image size="s"}} 300w,
          {{img_url feature_image size="m"}} 720w,
          {{img_url feature_image size="l"}} 960w,
          {{img_url feature_image size="xl"}} 1200w,
          {{img_url feature_image size="xxl"}} 2000w"
          sizes="(max-width: 1200px) 100vw, 1200px"
          src="{{img_url feature_image size="xl"}}"
          alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
          >
          {{#if feature_image_caption}}
          <figcaption>{{feature_image_caption}}</figcaption>
          {{/if}}
        </figure>
        {{/if}}
      {{/if}}

    </header>

    <section class="po-text">
      {{> productoversee_partials/po_sidebar}}

      <div class="po-content">

        {{content}}

        {{#if authors}}
        <ul class="po-author-article-footer">
          {{#foreach authors}}
          <li>
            <a href="{{url}}" title="{{name}}" class="author author-{{id}} {{slug}}">
              <p><strong>{{name}}</strong>: 
              {{bio}}</p>
            </a>
          </li>
          {{/foreach}}
        </ul>
        {{/if}}


        <div class="po-call-bemember">
          {{^if @member}}
          <h3>Inscreva-se na nossa newsletter!</h3>

          <p>Publicamos novos textos na newsletter todas às quartas 7h45 na sua caixa de entrada.</p>

          <a class="gh-subscribe-input" href="#/portal/signup" data-portal="signup" data-event="clk-signup-artigo">
            <div class="gh-subscribe-input-text">
              {{> icons/email}}
            </div>
            <div class="gh-subscribe-input-btn">Inscreva-se agora</div>
          </a>
          {{else}}
          <h3>Você sabia que temos conteúdos exclusivos para assinantes do portal?</h3>

          <p>Além de ter acesso ilimitado a todos os conteúdos, você também pode participar de palestras exclusivas, sessões de Q&A, mentorias em grupo e acesso à descontos em cursos. E claro, assinando você nos ajuda a manter o projeto e aumentar a nossa produção de conteúdo.</p>

          <a class="gh-subscribe-btn gh-btn gh-primary-btn" data-event="clk-signup-artigo" href="#/portal/account/plans" data-portal="account/plans">Você pode assinar clicando aqui</a>
          {{/if}}
        </div>  


        {{> productoversee_partials/po_sponsor}}

      </div>
    </section>
    {{#is "post"}}

    <footer class="gh-article-footer gh-canvas">
      {{> previous_next_post}}
    </footer>
    {{/is}}
  </article>

{{/post}}