  <aside class="po-article-sidebar">{{#is "post"}}
    <!-- {{#primary_author}}
    <figure class="gh-author-image">
      {{#if profile_image}}
      <img src="{{profile_image}}" alt="{{name}}">
      {{else}}
      <div class="gh-author-icon">{{> icons/avatar}}</div>
      {{/if}}
    </figure>

    <h4 class="gh-author-name">
      <a href="{{url}}">{{name}}</a>
    </h4>
    {{/primary_author}} -->
<!-- 
    <div class="gh-article-meta">

      {{#if reading_time}}
      <span class="gh-article-meta-sep"></span>
      <span class="gh-article-length">{{reading_time minute="1 min" minutes="% min"}}</span>
      {{/if}}
    </div> -->

    <div class="po-sidebar-sticky">

      {{#get "posts" limit="5" filter="id:-{{id}}+tag:{{primary_tag.slug}}"}}
      <nav class="po-sidebar-related">
        <h2 class="po-sidebar-title">Relacionados</h2>
        <ul>
      {{#foreach posts}}
        <li><a href="{{url}}">{{title}}</a></li>
      {{/foreach}}
      {{/get}}
        </ul>
      </nav>

      {{> productoversee_partials/po_sidebar_banner}}


    </div>

  {{/is}}</aside>

{{#if @custom.sidebar_banner}} 
<script type="text/javascript">
  
    function showBanner() {
      var randNumber = Math.random();

      if (randNumber <= 0.25) {
        document.body.classList.add("po-sidebar-banner-1")
      }

      if (randNumber >= 0.75) {
        document.body.classList.add("po-sidebar-banner-2")
      }

      if (randNumber > 0.25 && randNumber <= 0.50) {
        document.body.classList.add("po-sidebar-banner-3")
      }

      if (randNumber > 0.50 && randNumber < 0.75) {
        document.body.classList.add("po-sidebar-banner-4")
      }

    }

    showBanner();
</script>
{{/if}}