  <aside class="po-article-sidebar">
  {{#is "post"}}
    <!-- {{#primary_author}}
    <figure class="gh-author-image">
      {{#if profile_image}}
      <img src="{{profile_image}}" alt="{{name}}">
      {{else}}
      <div class="gh-author-icon">{{> icons/avatar}}</div>
      {{/if}}
    </figure>

    <h4 class="gh-author-name">
      <a href="{{url}}">{{name}}</a>
    </h4>
    {{/primary_author}} -->
<!-- 
    <div class="gh-article-meta">

      {{#if reading_time}}
      <span class="gh-article-meta-sep"></span>
      <span class="gh-article-length">{{reading_time minute="1 min" minutes="% min"}}</span>
      {{/if}}
    </div> -->

    <div class="po-sidebar-sticky">

      {{#get "posts" limit="5" filter="id:-{{id}}+tag:{{primary_tag.slug}}"}}
      <nav class="po-sidebar-related">
        <h2 class="po-sidebar-title">Relacionados</h2>
        <ul>
      {{#foreach posts}}
        <li><a href="{{url}}">{{title}}</a></li>
      {{/foreach}}
      {{/get}}
        </ul>
      </nav>

      <div class="po-sidebar-banner">
        
        <a href="https://www.ituring.com.br/analise-de-dados-para-negocios/?utm_source=productoversee&utm_medium=comunidade&utm_campaign=adpn?utm_source=ProductOversee&utm_medium=sidebarLogo_ProductOversee&utm_campaign=parceria_ProductOversee" class="po-banner po-banner-first"><img src="{{asset "/images/sponsor/ituring-banner.png"}}"></a>
        
        <a href="https://www.somostera.com/?utm_source=productoversee&utm_medium=portal&utm_campaign=productoversee?utm_source=ProductOversee&utm_medium=sidebarLogo_ProductOversee&utm_campaign=parceria_ProductOversee" class="po-banner po-banner-second"><img src="{{asset "/images/sponsor/tera-banner.jpg"}}"></a>

      </div>
    </div>

  {{/is}}
  </aside>

{{#if @custom.switch_banners_by_hour}} 
<script type="text/javascript">
  function isEven() {
    const date = new Date();
    const hour = date.getHours()
    
    if (hour % 2 == 0) {
      document.body.classList.add("po-show-banner-second")
    }
  }
  isEven();
</script>
{{/if}}